* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #7a7578;;
    /* background-image: url("../Assets/Images/BodyImages/MainBodyImage.jpg"); */
    background-size: cover;
}

